
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  background: white; 
  border-bottom: 2px solid #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.logo a:hover {
  color: #ff6700; 
}

.hamburger {
  display: none; 
  font-size: 2rem;
  cursor: pointer;
}


.header-ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.header-ul li {
  display: inline-block;
}

.header-ul a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.header-ul a:hover {
  color: #ff6700; 
}

.lang-btn {
  height: 35px;
  width: auto;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #333;
  background: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
  overflow: hidden;
  white-space: nowrap; 
}


.lang-btn:hover {
  background: #ff6700;
  color: white;
  transform: scale(1.05);
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 35px;
}


@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
  }
  .hamburger {
    display: block; 
  }

  .nav-container {
    position: absolute;
    top: 115px;
    right: 25px;
    background: white;
    width: 170px;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-container.open {
    transform: translateX(0);
  }

  .header-ul {
    flex-direction: column;
    gap: 20px;
  }

  .lang-btn {
    margin-top: 10px;
  }
}
